# Versão do python usada
# ambiente vritual = app_sentimento
# python_version = "3.11"
tqdm==4.67.0
pandas==2.2.3
transformers==4.48.0
torch==2.1.0
executing==2.2.1
#gradio==6.5.1
numpy==1.26.4
pillow
sentencepiece
joblib
streamlit>=1.25.0
#deep_translator==1.11.1
#urllib3
wordcloud
sentence_transformers==5.2.3
detoxify==0.5.2 # em observação
